@use '../../style/variable' as variable

.root
  width: 100%
  height: 100%
  position: relative
  &::before
    content: ''
    width: 100%
    height: 100%
    background-image: url('../../../src/assets/bg/flore-5.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: 100% 100%
    +variable.set-flex(center, center)
    filter: grayscale(90%) blur(3px)
    // filter: grayscale(90%)
    position: absolute
  .container
    cursor: pointer
    position: fixed
    +variable.set-flex(center, center)
    width: 100%
    height: 100%
    color: white
    will-change: transform, opacity
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030
    -webkit-user-select: none
    user-select: none
    overflow-y: scroll
  .picContent
    display: grid
    grid-template-columns: repeat(2, 1fr)
    justify-items: center

  +variable.media-breakpoints(900px)
    .picContent
      grid-template-columns: repeat(3, 1fr)
  +variable.media-breakpoints(1200px)
    .picContent
      grid-template-columns: repeat(4, 1fr)
  +variable.media-breakpoints(1450px)
    .picContent
      grid-template-columns: repeat(5, 1fr)
    .container
      overflow-y: hidden