@use '../../style/variable' as variable

$cloud-bg: #f2f2f2
$cloud-border: 3px solid #dedede
$cloud1-scale: 1.75
$cloud2-scale: 1.6
$cloud3-scale: 0.8
$moveX: 2000px
$disappear: 0
$appear: 1
$title-size: 30px
$depiction-size: 23px

.root
  width: 100%
  height: 100%
  position: absolute
  overflow: hidden
  .container
    width: 100%
    height: 100%
    +variable.set-flex(center, center)
    background-image: url('../../../src/assets/bg/bg28.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // filter: blur(1px)
    z-index: -10
    .content
      // width: 90%
      position: relative
      // display: grid
      // align-items: center
      // justify-items: center
      .cloudWrap
        width: 100%
        height: 100%
        position: relative
        .cloud
          width: 1080px
          height: 360px
          background: $cloud-bg
          border: $cloud-border
          border-top: none
          border-radius: 225px
          position: absolute
          &::before, &::after
            content: ''
            position: absolute
            background: $cloud-bg
            border: $cloud-border
            border-radius: 50%
            z-index: -1
          &::after
            width: 360px
            height: 360px
            top: -125px
            left: 155px
            border: none
            border-left: $cloud-border
          &::before
            width: 540px
            height: 540px
            top: -213px
            right: 171px
          h3
            color: #6fa0d6
            font-size: $title-size
          .depiction
            color: #6e6767
            text-shadow: 2px 5px 7px #4886cb9e
            font-size: $depiction-size
      .cloudPos1
        display: flex
        justify-content: flex-end
        transform: scale($cloud1-scale)
        z-index: 3
        top: 40px
        filter: drop-shadow(2px 8px 6px #ccc)
        margin-right: 520px
        // visibility: hidden
      .cloudPos2
        display: grid
        align-items: flex-start
        margin-left: -260px
        transform: scale($cloud2-scale)
        z-index: 2
        top: 62px
        filter: drop-shadow(10px 19px 24px #94929270)
        // visibility: hidden
        .cloud
          height: 500px
      .cloudPos3
        display: grid
        justify-items: center
        z-index: 1
        filter: drop-shadow(-18px -5px 18px #c4b9b985)
        transform: scale($cloud3-scale)
        // visibility: hidden
        h3
          font-size: ($title-size + 25) !important
        .depiction
          font-size: ($depiction-size + 25) !important
      .moveCloud1
        animation: moveLeft 1.5s
        animation-fill-mode: forwards
      .moveCloud2
        animation: moveRight 1.5s
        animation-fill-mode: forwards
      .moveCloud2 + div
        animation: scale 0.5s
        animation-fill-mode: forwards
        animation-delay: 0.5s
      .moveCloud3
        // animation: scale 1s
        // animation-fill-mode: forwards
  .showF1
    animation: transformImg 3s
    animation-fill-mode: forwards
    animation-delay: 0.5s
  @keyframes moveLeft
    95%
      transform: scale($cloud1-scale) translateX(-$moveX)
    99%
      opacity: $appear
    100%
      opacity: $disappear
      transform: scale($cloud1-scale) translateX(-$moveX)
  @keyframes moveRight
    95%
      transform: scale($cloud2-scale) translateX($moveX)
    99%
      opacity: $appear
    100%
      opacity: $disappear
      transform: scale($cloud2-scale) translateX($moveX)
  @keyframes scale
    50%
      transform: scale(10)
    100%
      opacity: $disappear
      transform: scale(10)
  @keyframes transformImg
    0%
      opacity: $disappear
      background-image: url('../../../src/assets/bg/F1-1.jpg')
    100%
      opacity: $appear
      background-image: url('../../../src/assets/bg/F1-1.jpg')
