@use '../../style/variable' as variable

.root
  width: 100%
  height: 100%
  +variable.set-flex(center, center)
  &::before
    width: 100%
    height: 100%
    content: ''
    position: absolute
    +variable.set-flex(center, center)
    background-image: url('../../../src/assets/bg/bg27.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
  .container
    display: flex
    li:hover
      filter: drop-shadow(2px 3px 2px #4d4a4a)
      border: 1px #6c6969 solid
    .videoContent
      margin: auto
    .dialog
      margin-left: 3rem
      button
        margin-bottom: 1rem
