// 背景色
$header-bg: #5b8577
$footer-bg: #a2b0bc3d

$header-height: 80px

=set-flex($vertical, $horizontal)
  display: flex
  align-items: $vertical
  justify-content: $horizontal

=media-breakpoints($width)
  @media screen and (min-width: $width)
    @content