@import '../../style/variable'

.root
  padding: 0.5rem 1rem
  background: $header-bg
  ul
    display: flex
    justify-content: flex-end
    font-size: 18px
    > li
      padding: 1.5rem
      a
        color: #FFF