@use '../../style/variable' as variable

.root
  width: 100%
  height: variable.$header-height
  position: fixed
  z-index: 9999
  padding: 0.5rem 1rem
  background: variable.$header-bg
  ul
    display: flex
    justify-content: flex-end
    font-size: 18px
    > li
      padding: 1.5rem
      a
        color: #FFF