@use '../../style/variable' as variable

.root
  width: 100%
  height: variable.$header-height
  position: fixed
  z-index: 9999
  padding: 0.5rem 1rem
  background: variable.$header-bg
  box-shadow: 4px 1px 2px 2px #9aada7
  ul
    +variable.set-flex(center, flex-end)
    font-size: 18px
    > li
      padding: 1.5rem
      a
        color: #285043
        font-weight: 800
  .active
    color: #FFF
    text-shadow: 0px 2px #4d5057