@use '../../style/variable' as variable

.root
  .container
    display: flex
    align-content: center
    justify-content: center
    h1
      margin-bottom: 2rem
    .content
      width: 100%
      justify-items: center
      margin: auto
      > div, img
        width: 100%
        height: 100%
    .picContent
      display: flex
      align-content: center
      justify-content: center
      > div
        margin: 5px
      img
        width: 270px
        height: 270px
        border-radius: 5px